{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block contents %}

<div class="container">
  <div class="col-lg-12">
    <div class="col-lg-4"></div>
    <div class="col-lg-5 reg-div">
		<h1>{% trans "Sign Out" %}</h1>

		<p>{% trans 'Are you sure you want to sign out?' %}</p>

		<form method="post" action="{% url 'account_logout' %}">
		  {% csrf_token %}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
		  {% endif %}
		  <button class="btn btn-default reg-btt" type="submit">{% trans 'Yes! Sign Out' %}</button>
		</form>

    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>


{% endblock %}
