{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}


{% block contents %}
<div class="container">
  <div class="col-lg-12">
    <div class="col-lg-4"></div>
    <div class="col-lg-5 reg-div">
          <h1>{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
              {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>


      <form method="POST" action="{% url 'account_reset_password' %}">
        
      <span class="label label-danger">{{ form.non_field_errors.as_text }}</span>
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          <label for="{{field.name}}">{{field.label}}</label>
          <div>
          {{ field|add_class:"form-control place-tex"}}
          </div>
            <span class="label label-danger">{{field.errors.as_text}}</span>
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-lg btn-dark">Reset My Password</button>

      </form>
      <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>

{% endblock %}
