<nav id="sidebar" class="sidebar nav-collapse collapse">
<ul id="side-nav" class="side-nav">
    <li>
        <a href="{% url 'accounts-dashbord' %}"><i class="fa fa-home fa-dcustom"></i> <span class="name">DASHBORD</span></a>
    </li>

    <li>
        <a href="{% url 'accounts-settings' %}"><i class="fa fa-user fa-dcustom"></i> <span class="name">SETTINGS</span></a>
    </li>

    <li>
        <a href="{% url 'accounts-signal-listing' %}"><i class="fa fa-line-chart fa-dcustom"></i> <span class="name">HISTORY</span></a>
    </li>

    <li>
        <a href="{%url 'faq'%}"><i class="fa fa-envelope fa-dcustom"></i> <span class="name">FAQ</span></a>
    </li>

    <li>
        <a href="#"><i class="fa fa-life-ring fa-dcustom"></i> <span class="name"> SUPPORT</span></a>
    </li>
</ul>
</nav>  