<div class="container-fluid">
<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/static/images/logo.png" class="logo-div"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
        <li><a href="{% url 'accounts-profile' %}">My Profile</a></li>
        {% else %}
        <li><a href="{% url 'account_signup' %}">Join Me</a></li>
        <li><a href="{% url 'account_login' %}">Login</a></li>

        {% endif %}
      
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
</div>