{% load static %}
  <!-- Navigation -->
  <header class="nav-type-2">

    <nav class="navbar navbar-static-top">
      <div class="navigation">
        <div class="container relative">

          <form method="get" class="search-wrap">
            <input type="search" class="form-control" placeholder="Type &amp;  Enter">
          </form>

          <div class="row">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!-- Logo -->
              <div class="logo-container">
                <div class="logo-wrap local-scroll">
                  <a href="/" style="font-size: 30px;">
                      <img class="logo" src="{% static 'images/ologo.png' %}">OptionExperts
                  </a>

                </div>
              </div>
            </div> <!-- end navbar-header -->


            <div class="col-md-8 nav-wrap">
              <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                   <li class="active"><a href="#home_about_us" id="about_us">Home</a></li>
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'accounts-profile' %}">My Profile</a></li>
                  <li><a href="{% url 'account_logout' %}">Logout</a></li>
                  {% else %}
                  <li><a href="{% url 'account_signup' %}">Join Me</a></li>
                  <li><a href="{% url 'account_login' %}">Login</a></li>
                  {% endif %}
                 
                  <li><a href="{% url 'faq'%}">FAQ</a></li>
                </ul>
              </div>
            </div> <!-- end col -->
        
          </div> <!-- end row -->
        </div> <!-- end container -->
      </div> <!-- end navigation -->
    </nav> <!-- end navbar -->

  </header> <!-- end navigation -->