<section class="section-wrap  pt-90">
<div class="container-fluid nopadding">

	<div class="row mb-80">
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<p class="text-center">
			<span class="subheading">Expert Crafted</span>
			</p>
			<h2 class="text-center ">Our Best Works</h2>
			<p class="text-center">Designed with passion and coded to perfection, Karen is a stylish responsive wordpress theme, that is packed with tons of features yet is so easy to use </p>
		</div>
	</div>

	<div class="row nomargin">
		<div id="portfolio-container" class="works-grid">

			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 work-item hover-2 nopadding nomargin web-design mockups">
				<div class="work-container">
					<div class="work-img">
						<img src="/static/img/portfolio/1.jpg" alt="">
						<div class="portfolio-overlay">
							<div class="project-icons">
								<a href="http://vimeo.com/139208268" class="lightbox-video mfp-iframe"><i class="fa fa-search"></i></a>
								<a href="portfolio-single.html" class="project-icon"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="work-description">
							<h3><a href="#" class="dark-link">Creative Theme</a></h3>
							<span><a href="#">Web Design</a></span>
						</div>
					</div>									
				</div> 
			</div> <!-- end work-item -->

			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 work-item hover-2 nopadding nomargin print mockups">
				<div class="work-container">
					<div class="work-img">
						<img src="/static/img/portfolio/2.jpg" alt="">
						<div class="portfolio-overlay">
							<div class="project-icons">
								<a href="img/portfolio/2.jpg" class="lightbox-gallery"><i class="fa fa-search"></i></a>
								<a href="portfolio-single.html" class="project-icon"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="work-description">
							<h3><a href="portfolio-single.html" class="dark-link">Creative Theme</a></h3>
							<span><a href="portfolio-single.html">Mockups</a></span>
						</div>
					</div>
				</div> 
			</div> <!-- end work-item -->

			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 work-item hover-2 nopadding nomargin web-design graphics print">
				<div class="work-container">
					<div class="work-img">
						<img src="/static/img/portfolio/3.jpg" alt="">
						<div class="portfolio-overlay">
							<div class="project-icons">
								<a href="img/portfolio/3.jpg" class="lightbox-gallery"><i class="fa fa-search"></i></a>
								<a href="portfolio-single.html" class="project-icon"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="work-description">
							<h3><a href="portfolio-single.html" class="dark-link">Creative Theme</a></h3>
							<span><a href="portfolio-single.html">Mockups</a></span>
						</div>
					</div>							
				</div> 
			</div> <!-- end work-item -->

			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 work-item hover-2 nopadding nomargin web-design graphics mockups">
				<div class="work-container">
					<div class="work-img">
						<img src="/static/img/portfolio/4.jpg" alt="">
						<div class="portfolio-overlay">
							<div class="project-icons">
								<a href="img/portfolio/4.jpg" class="lightbox-gallery"><i class="fa fa-search"></i></a>
								<a href="portfolio-single.html" class="project-icon"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="work-description">
							<h3><a href="portfolio-single.html" class="dark-link">Creative Theme</a></h3>
							<span><a href="portfolio-single.html">Mockups</a></span>
						</div>
					</div>								
				</div> 
			</div> <!-- end work-item -->

			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 work-item hover-2 nopadding nomargin mockups graphics print">
				<div class="work-container">
					<div class="work-img">
						<img src="/static/img/portfolio/5.jpg" alt="">
						<div class="portfolio-overlay">
							<div class="project-icons">
								<a href="img/portfolio/5.jpg" class="lightbox-gallery"><i class="fa fa-search"></i></a>
								<a href="portfolio-single.html" class="project-icon"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="work-description">
							<h3><a href="portfolio-single.html" class="dark-link">Creative Theme</a></h3>
							<span><a href="portfolio-single.html">Mockups</a></span>
						</div>
					</div>						
				</div> 
			</div> <!-- end work-item -->

			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 work-item hover-2 nopadding nomargin mockups web-design print">
				<div class="work-container">
					<div class="work-img">
						<img src="/static/img/portfolio/6.jpg" alt="">
						<div class="portfolio-overlay">
							<div class="project-icons">
								<a href="img/portfolio/6.jpg" class="lightbox-gallery"><i class="fa fa-search"></i></a>
								<a href="portfolio-single.html" class="project-icon"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="work-description">
							<h3><a href="portfolio-single.html" class="dark-link">Creative Theme</a></h3>
							<span><a href="portfolio-single.html">Mockups</a></span>
						</div>
					</div>								
				</div> 
			</div> <!-- end work-item -->

			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 work-item hover-2 nopadding nomargin mockups web-design print">
				<div class="work-container">
					<div class="work-img">
						<img src="/static/img/portfolio/7.jpg" alt="">
						<div class="portfolio-overlay">
							<div class="project-icons">
								<a href="img/portfolio/7.jpg" class="lightbox-gallery"><i class="fa fa-search"></i></a>
								<a href="portfolio-single.html" class="project-icon"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="work-description">
							<h3><a href="portfolio-single.html" class="dark-link">Creative Theme</a></h3>
							<span><a href="portfolio-single.html">Mockups</a></span>
						</div>
					</div>							
				</div> 
			</div> <!-- end work-item -->

			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 work-item hover-2 nopadding nomargin mockups web-design print">
				<div class="work-container">
					<div class="work-img">
						<img src="/static/img/portfolio/8.jpg" alt="">
						<div class="portfolio-overlay">
							<div class="project-icons">
								<a href="img/portfolio/8.jpg" class="lightbox-gallery"><i class="fa fa-search"></i></a>
								<a href="portfolio-single.html" class="project-icon"><i class="fa fa-link"></i></a>
							</div>
						</div>
						<div class="work-description">
							<h3><a href="portfolio-single.html" class="dark-link">Creative Theme</a></h3>
							<span><a href="portfolio-single.html">Mockups</a></span>
						</div>
					</div>							
				</div> 
			</div> <!-- end work-item -->

		</div>	<!-- end portfolio container -->
	</div> <!-- end row -->
	
	<div class="row mt-70">
		<div class="col-md-12 text-center">
			<a href="portfolio-4-col.html" class="btn btn-lg btn-color">Load More</a>
		</div>
	</div>
</div> <!-- end container -->
</section> <!-- end portfolio-->