
 <!-- Services Offered -->
<section class="section-wrap services style-2 bg-light pb-90">
  <div class="container">

    <div class="row mb-60">
      <div class="col-md-12 text-center">
        <h4>Our customers invest more than $10 k with GeoFinex.</h4>
        <span class="subheading">Each has a unique experience. How would you like to start yours?</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="service-item-box">
          <i class="icon icon-desktop"></i>
          <h3>Invest With Us PAMM</h3>
         <p class="text-center">Saving for a specific goal, like retirement? We can help.</p>
        </div>
      </div> <!-- end service item -->

      <div class="col-md-4 service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="service-item-box">
          <i class="icon icon-recycle"></i>
          <h3>Roll Over an IRA or 401(k)</h3>
          <p class="text-center">Consolidate your assets into one account for easier management. </p>
        </div>
      </div> <!-- end service item -->

      <div class="col-md-4 service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="service-item-box">
          <i class="icon icon-linegraph"></i>
          <h3>Open an Account</h3>
          <p class="text-center">There's no commitment and the first 30 days are free.</p>
        </div>
      </div> <!-- end service item -->
      
    </div>
  </div>
</section> <!-- end Services -->