<section class="section-wrap services style-3 pb-90 pt-60 pt-sml-40 pb-sml-70">
	<div class="container">

		<div class="row text-center">
			<span class="subheading text-center">Whats Inside</span>
			<h2 class="text-center">Option Expert's Features</h2>

			<div class="col-md-4 service-item text-center mt-40">
				<div class="service-item-box nopadding">
					<i class="icon icon-mobile"></i>
					<h3>JOIN</h3>
					<p>Register on our platform to Access technically analysed Binary Option Signals to believe in and share in their success.</p>
				</div>
			</div> <!-- end service item -->

			<div class="col-md-4 service-item text-center mt-40">
				<div class="service-item-box nopadding">
					<i class="icon icon-layers"></i>
					<h3>GET SIGNALS</h3>
					<p>Our team of analysts will help you find the best trading opportunities in the market, in real time 24 hrs per day. They’ll help you turn your losing trades into winners.</p>
				</div>
			</div> <!-- end service item -->

			<div class="col-md-4 service-item text-center mt-40">
				<div class="service-item-box nopadding">
					<i class="icon icon-speedometer"></i>
					<h3>TRADE</h3>
					<p>Acess our 99% trusted signal broadcast and Trade on your personal binary option trading account.</p>
				</div>
			</div> <!-- end service item -->

			<!-- commented by client
			<div class="col-md-4 service-item text-center mt-40">
				<div class="service-item-box nopadding">
					<i class="icon icon-clock"></i>
					<h3>Trade History</h3>
					<p>Designed with passion and coded to perfection, Karen is a stylish responsive wordpress theme, that is packed with tons of features yet is so easy to use </p>
				</div>
			</div> --> <!-- end service item -->

			<!-- commented by client
			<div class="col-md-4 service-item text-center mt-40">
				<div class="service-item-box nopadding">
					<i class="icon icon-tools-2"></i>
					<h3>Won Trade details</h3>
					<p>Designed with passion and coded to perfection, Karen is a stylish responsive wordpress theme, that is packed with tons of features yet is so easy to use </p>
				</div>
			</div> --> <!-- end service item -->

			<!-- commented by client
			<div class="col-md-4 service-item text-center mt-40">
				<div class="service-item-box nopadding">
					<i class="icon icon-strategy"></i>
					<h3>Lose Trade details</h3>
					<p>Designed with passion and coded to perfection, Karen is a stylish responsive wordpress theme, that is packed with tons of features yet is so easy to use </p>
				</div>
			</div> --> <!-- end service item -->
			
		</div>
	</div>
</section> <!-- end benefits -->