
 <!-- Services Offered -->
<section class="section-wrap services style-2 bg-light pb-90">
  <div class="container">

    <div class="row mb-60">
      <div class="col-md-12 text-center">
        <span class="subheading">We Are Expert</span>
        <h2>Services Offered</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="service-item-box">
          <i class="icon icon-desktop"></i>
          <h3>Web Development</h3>
         <p class="text-center">Designed with passion and coded to perfection, Karen is a stylish responsive wordpress theme, that is packed with tons of features yet is so easy to use </p>
        </div>
      </div> <!-- end service item -->

      <div class="col-md-4 service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="service-item-box">
          <i class="icon icon-recycle"></i>
          <h3>PSD to HTML</h3>
          <p class="text-center">Designed with passion and coded to perfection, Karen is a stylish responsive wordpress theme, that is packed with tons of features yet is so easy to use </p>
        </div>
      </div> <!-- end service item -->

      <div class="col-md-4 service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="service-item-box">
          <i class="icon icon-linegraph"></i>
          <h3>SEO Optimization</h3>
          <p class="text-center">Designed with passion and coded to perfection, Karen is a stylish responsive wordpress theme, that is packed with tons of features yet is so easy to use </p>
        </div>
      </div> <!-- end service item -->
      
    </div>
  </div>
</section> <!-- end Services -->