<section class="section-wrap services style-3 pb-90 pt-60 pt-sml-40 pb-sml-70">
	<div class="container">

		<div class="row text-center">
			<span class="subheading text-center">Whats Inside</span>
			<h2 class="text-center">IQoptionexperts Features</h2>

			<div class="col-md-4 service-item text-center mt-40">
				<div class="service-item-box nopadding">
					<i class="icon icon-mobile"></i>
					<h3>Join</h3>
					<p>Designed with passion and coded to perfection, Karen is a stylish responsive wordpress theme, that is packed with tons of features yet is so easy to use </p>
				</div>
			</div> <!-- end service item -->

			<div class="col-md-4 service-item text-center mt-40">
				<div class="service-item-box nopadding">
					<i class="icon icon-layers"></i>
					<h3>Deposite</h3>
					<p>Designed with passion and coded to perfection, Karen is a stylish responsive wordpress theme, that is packed with tons of features yet is so easy to use </p>
				</div>
			</div> <!-- end service item -->

			<div class="col-md-4 service-item text-center mt-40">
				<div class="service-item-box nopadding">
					<i class="icon icon-speedometer"></i>
					<h3>Auto Trade</h3>
					<p>Designed with passion and coded to perfection, Karen is a stylish responsive wordpress theme, that is packed with tons of features yet is so easy to use </p>
				</div>
			</div> <!-- end service item -->

			<div class="col-md-4 service-item text-center mt-40">
				<div class="service-item-box nopadding">
					<i class="icon icon-clock"></i>
					<h3>Trade History</h3>
					<p>Designed with passion and coded to perfection, Karen is a stylish responsive wordpress theme, that is packed with tons of features yet is so easy to use </p>
				</div>
			</div> <!-- end service item -->

			<div class="col-md-4 service-item text-center mt-40">
				<div class="service-item-box nopadding">
					<i class="icon icon-tools-2"></i>
					<h3>Won Trade details</h3>
					<p>Designed with passion and coded to perfection, Karen is a stylish responsive wordpress theme, that is packed with tons of features yet is so easy to use </p>
				</div>
			</div> <!-- end service item -->

			<div class="col-md-4 service-item text-center mt-40">
				<div class="service-item-box nopadding">
					<i class="icon icon-strategy"></i>
					<h3>Lose Trade details</h3>
					<p>Designed with passion and coded to perfection, Karen is a stylish responsive wordpress theme, that is packed with tons of features yet is so easy to use </p>
				</div>
			</div> <!-- end service item -->
			
		</div>
	</div>
</section> <!-- end benefits -->