.navbar-default
 {
    background-color: rgba(23, 99, 177, 0.32);
    border-color: transparent;
    box-shadow: 31px 3px 33px;
}
.navbar-nav {
    float: right;
    margin: 0;
}
.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.navbar-nav > li > a {
    padding-top: 40px;
    padding-bottom: 15px;
}
.head1
{
	text-align: center;
    color: white;
    font-weight: 700;
    font-size: 38px;
}
.acc-div
{
	color: white;
    border: solid 2px;
    padding: 17px;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    width: 32%;
    margin-left: 185px;
}
.log-down
{
	color: white;
    margin-top: 15px;
    text-align: center;
}
.log-down a
{
	font-size: 20px;
    border-bottom: solid 1px wheat;
}
 .set-dash
{
 	text-align: center;
 }
 .head2
 {
 	  text-align: center;
    font-size: 34px;
    color: bisque;
    font-weight: 700;
 }
 .img-wid
 {
 	width: 40%
 }
 .basline
 {
 	 border-bottom: solid 2px bisque;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
 }
 .mid-four
 {
 	 color: bisque;
    font-size: 70px;
 }
 .join-div
 {
 	color: bisque;
    font-size: 40px;
    text-align: center;
 }
 .img-se
 {
 	text-align: center;
 }
 .main-twl
 {
 	padding: 40px;
 }
 .join-btt
 {
 	text-align: center;
 }
 .join-btt button
 {
 	background: bisque;
    border: bisque;
    width: 20%;
    font-size: 29px;
    font-weight: 700;
    border-radius: 45px;
    margin-bottom: 20px;
 }
 .trade-head
 {
 	text-align: center;
    color: white;
    font-size: 35px;
    font-weight: 700;
 }
 .ind-paregraph
 {
 	font-size: 16px;
    color: white;
 }
 .text-indic
 {
 	font-size: 20px;
    font-weight: 700;
    color: bisque;
    padding: 10px;
 }
 .foot-div
 {
 	background: #002e5b;
    padding: 30px;
    color: white;
 }

 .uldiv
 {
    font-size: 16px;
    list-style: none;
  
 }
 .uldiv li a
 {
    color: white;
 }
 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: transparent;
}
.acc-div a
{
    color: white;
}
.log-down a
{
    color: white;
    text-decoration: none;
}
.flag-div
{
    margin-top: 45px;
    width: 60%;
    margin-right: 25px;
}
.down-foot
{
    margin-left: 15px;
}

/*dashboard*/
.mainhead
{
    background: #0b2d87;
    padding: 10px;
    
}
.dash-side
{
    background: #213567;
    padding: 0px;
    margin-left: -15px;
    height: 593px
}

.dash-side ul li
{
    margin-bottom:3 px;
    font-size: 14px;
    list-style: none;
    background:#213567;
    padding: 11px;
    margin-left: -26px;
    font-size: 16px;
    border-bottom: solid 1px #f5f5f5;
}
.dash-side ul li:hover
{
    margin-bottom:3 px;
    font-size: 14px;
    list-style: none;
    background: #747882;
    padding: 11px;
    margin-left: -26px;
    font-size: 16px;
    border-bottom: solid 1px #f5f5f5;
}
.dash-side ul li a
{
    font-weight: 600;
    color:white;
    margin-left: 20px
}
.dash-mange
{
    font-size: 30px;
    font-weight: 700;
}
.set-div
{
    color: white;
    font-size: 18px;
    margin-top: 15px;
    font-weight: 600;
}
.sec-div
{
    font-size: 20px;
    color: white;
    font-weight: 700;
}
.on-img
{
    width: 22%;
}
.flg-img
{
    margin-top: 30px;
}
.flg-img span
{

color: white
}
.main-ten
{
   
    color: #f5f5f5;
    
    padding: 0px 15px;
}
.main-ten h3
{
    margin-top: 0px;
    font-weight: 700;
    background: #1452a5;
    margin-left: -16px;
    padding: 9px;
    width: 105%;
    color: #f5f5f5
}
.img-right
{
    width: 135%;
    margin-top: 50px;
}
.thir-div
{
    background: #213567;
    margin-left: -20px;
    margin-right: 15px;
    margin-top: -7px;
    color: #f5f5f5;
     padding: 31px;
     font-weight: 700;
}
.setcol
{
    margin-top: 10px;
}

.off-div
{
  color: black;  
}
.btn-xs
{
    background: #9d9d9d;
    color: white;
    margin-top: 7px;
}
.main-att
{
    background: #213567;
    padding: 37px;
    margin-top: -9px;
}
.btt-des
{
    margin-top: 15px;
}
.price-div
{
    padding: 10px;
    color: bisque;
    font-size: 30px;
}
.container-fluid
{
    padding: 0px;
    overflow: hidden;
}
.ten-dv
{
    padding: 0px
}
.reg-div
{
     
    color: beige;
  
}
.reg-div h3
{
    text-align: center;
    font-weight: 700;
}
.reg-div form
{
    padding: 15px;
    border: solid;
}

.reg-btt
{
    width: 100%;
    background: bisque;
    margin-bottom: 10px;
}

#exTab1 .tab-content {
  color : black;
  
  padding : 5px 15px;
}
.account-div
{
    color: black
}
.user-img
{
    width: 20%;
    border: solid;
    border-radius: 101px;
    padding: 10px;
}
.nav-pills > li {
    float: left;
    width: 5%;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #337ab7;
    font-weight: 700;
    font-size: 16px;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 110%;
}
.i-box
{
    color: #337ab7;
    position: absolute;
    margin-top: -32px;
    margin-left: 10px;
}
.place-tex
{
    padding-left: 34px;
}
.logo-div
{
 width: 36%;
}
.ul-text
{
    margin-left: -50px;
    list-style: none;
}
.icon-up
{
    color: green; 
}
.icon-down
{
    color: red
}
.main-twle
{
    background: #0b2d87;
    color: white;
    margin-top: 10px;
    padding: 22px;
    text-align: center;
    width: 98%;
}
.main-twle h2
{
    font-weight: 700;
}
.bit-btt
{
    margin-top: 15px;
}
.date-btt
{
    margin-bottom: 5px;
}
.sav-btt
{
    float: right;
    background: beige;
    width: 20%;
    font-weight: 700;
    font-size: 18px;
}