<section class="widget">
    <header>
        <h4>
            Traffic Sources
            <small>
                One month tracking
            </small>
        </h4>
    </header>
    <div class="widget-table-overflow">
        <table class="table table-striped table-lg mt-sm mb-0 sources-table">
            <thead>
            <tr>
                <th class="source-col-header">Source</th>
                <th>Amount</th>
                <th>Change</th>
                <th class="hidden-xs">Percent.,%</th>
                <th>Target</th>
                <th class="chart-col-header hidden-xs">Trend</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span class="label label-important">Direct</span></td>
                <td>713</td>
                <td><strong class="color-green">+53</strong></td>
                <td class="hidden-xs">+12</td>
                <td>900</td>
                <td class="chart-cell hidden-xs">
                    <div id="direct-trend"></div>
                </td>
            </tr>
            </tr>
            </tbody>
        </table>
    </div>
</section>