
<div class="box">
        {% if active_singal %}
        <h2 class="text-center" id="currency_pair" data-pair="{{active_singal.currency.pair_name}}">{{active_singal.currency}}</h2>
        <p class="text-center" > 
            {% if active_singal.direction == 'up'%}
            <a class="btn btn-success btn-lg" id="direction" data-val="CALL">
                <i class="fa fa-chevron-up"></i>
            </a>
            {% else %}
            <a class="btn btn-danger btn-lg" id="direction" data-val="PUT">
                <i class="fa fa-chevron-down"></i>
            </a>
            {% endif %}
        </p>
        <p class="text-center lead" id="expire_in" data-duration="{{active_singal.expire_in.get_time}}" data-unit="{{active_singal.expire_in.get_unit}}"><em>Expiry</em> {{active_singal.expire_in}} </p>

        <p class="text-center"> 
        <button type="button" id="trade-now" class="btn btn-primary">Trade Now</button>
        <span class="label label-important" data-val= "{{active_singal.get_expire_time}}" id="timer"></span>
        
        </p>

        <div id="Countdown" data-timer="{{active_singal.get_expire_time}}" style="width: 400px;padding-left: 20%;text-align: center;"></div>
        {% else %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <h3><i class="fa fa-bullhorn fa-dcustom"></i> Awaiting Signal...</h3>
            </div>
        {% endif %}

        <p class="text-center"> 
            <fieldset>
                <legend class="section">
                    SUBSCRIBE AUTO TRADING 
                </legend>
                <p>
                    By subscribe autotrade, you going to give user access rights for trade on your binary.com account behalf of you , all the trade signals coming here are directly trade on binary.com.
                </p>
                OFF <input type="checkbox" class="js-switch js-check-change" /> ON
            </fieldset>
        </p>
</div>