<section class="widget">
    <header>
        <h4>
            ACTIVE TRADES
        </h4>
    </header>
    <div class="widget-table-overflow">
        <table class="table table-striped table-lg mt-sm mb-0 sources-table" id="active-trade">
            <thead>
            <tr>
                <th>Asset</th>
                <th>Investment</th>
                <th>Direction</th>
                <th>Open</th>
                <th class="hidden-xs">Current</th>
                <th>Time</th>
                <th class="chart-col-header hidden-xs">Payment</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>