<div class="col-md-12">
<section class="widget">
    <header>
        <h4>
            EXPIRED TRADES
        </h4>
    </header>
    <div class="widget-table-overflow">
<!--         <table id="expire-trade" class="table table-striped table-lg mt-sm mb-0 sources-table">
            <thead>
            <tr>
                <th>Asset</th>
                <th>Direction</th>
                <th>Open</th>
                <th class="hidden-xs">Closed</th>
                <th>Time</th>
                <th>Payment</th>
                <th class="chart-col-header hidden-xs">Result</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span class="label label-important">EUR/USD</span></td>
                <td><i class="fa fa-caret-up color-blue"></i></td>
                <td>1.31352</td>
                <td>1.13120</td>
                <td>22-11-2017 / 11:00</td>
                <td><strong class="color-green">+713</strong></td>
                <td>Achieved</td>
            </tr>
            <tr>
                <td><span class="label label-important">USD/CAD</span></td>
                <td><i class="fa fa-caret-down color-red"></i></td>
                <td>0.6777</td>
                <td>0.6866</td>
                <td>22-11-2017 / 13:09</td>
                <td><strong class="color-green">+713</strong></td>
                <td>Achieved</td>
            </tr>
            <tr>
                <td><span class="label label-important">EUR/JPY</span></td>
                <td><i class="fa fa-caret-down color-green"></i></td>
                <td>11.4201</td>
                <td>12.5210</td>
                <td>22-11-2017 / 9:30</td>
                <td><strong class="color-green">+713</strong></td>
                <td>Achieved</td>
            </tr>
            <tr>
                <td><span class="label label-important">USD/CAD</span></td>
                <td><i class="fa fa-caret-down color-green"></i></td>
                <td>1.31352</td>
                <td>1.13120</td>
                <td>22-11-2017 / 23:10</td>
                <td><strong class="color-green">+713</strong></td>
                <td> <span class="label label-important">Not Achieved</span> </td>
            </tr>            
            </tbody>
        </table> -->
        <table id="table-dynamic"  class="table table-striped table-lg mt-sm mb-0 sources-table"></table>
    </div>
</section>



</div>