<div class="row">
<div class="col-md-12">
<div class="box">
        <h2 class="text-center" id="currency_pair" data-pair="{{active_singal.currency.pair_name}}">Your Account is not Verified from our broker binary.com</h2>
        <p class="text-center" > 
            please click on below link and authenticate your binary account for enjoy auto trading.
        </p>
        <p class="text-center"> 
        <button type="button" id="authorize-binary" class="btn btn-primary">Authorize by Binary.com</button>        
        </p>
</div>
</div>
</div>