{% load static %}

<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title>{% block title %}OptionExperts{% endblock %}</title>
    {% block css %}
    <link href="/static/dashbord/css/application.min.css" rel="stylesheet">
    <link href="/static/dashbord/css/custom.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script>
    </script>
    {% endblock %}
</head>



<body>
    <div class="logo">
      <h4>
        <a href="{% url 'accounts-profile'%}">
        <img src="{% static 'images/ologo.png' %}">
        </a>
        </h4>
    </div>

    {% include 'dashbord/includes/sidebar.html'%}   

    <div class="wrap">
        {% include 'dashbord/includes/menu.html'%}
        <div class="content container">
            <h2 class="page-title">{% block page_title %}Dashboard <small>Statistics and more</small>{% endblock page_title %}</h2>
        

        {% block content %}

        {% endblock content %}
        </div>

        <div class="loader-wrap hiding hide">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
    </div>
{% block JS %}
<!-- common libraries. required for every page-->
<script src="/static/dashbord/lib/jquery/dist/jquery.min.js"></script>
<script src="/static/dashbord/lib/jquery-pjax/jquery.pjax.js"></script>
<script src="/static/dashbord/lib/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script src="/static/dashbord/lib/widgster/widgster.js"></script>
<script type="text/javascript" src="/static/js/ws4redis.js"></script>
<script src="/static/dashbord/lib/underscore/underscore.js"></script>

<!-- common application js -->
<script src="/static/dashbord/js/app.js"></script>
<script src="/static/dashbord/js/settings.js"></script>




<script type="text/javascript">
$(function() {
  $('.side-nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
});

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90124738-1', 'auto');
  ga('send', 'pageview');

</script>

{% endblock JS%}

</body>
</html>
