{% extends "layout.html" %}
{% load widget_tweaks %}

{% block page_title %}Active signal <small>Dashbord</small>  {% endblock page_title %}

{% block content %}
    <div id="signals-acount">
    {% include 'dashbord/includes/signal_dashbord.html'%}

    </div>
{% endblock content %}


{% block JS%}

{{ block.super }}
<script type="text/javascript">
    window.setInterval(function(){
        callSignal() 
    }, 15000);

function callSignal(){
    $.ajax({
        url: "{% url 'latest_signal-ajax' %}",
        success: function(result){
            $("#signals-acount").html(result)
            //console.log(result)
        }
});

}
</script>





{% endblock %}