{% extends "layout.html" %}
{% load widget_tweaks %}


{% block content %}
    {% include 'dashbord/shared/user_trading_account_details.html'%}
    <div class="row">
        <div class="col-md-4">
            {% include 'dashbord/shared/active_signal_trade.html'%}
        </div>
        <div class="col-md-8">
            {% include 'dashbord/shared/active_signals.html' %}
        </div>
    </div>
    {% comment %}
    <div id="signals-acount">
        {% include 'dashbord/includes/signal_dashbord.html'%}
    </div>
    {% endcomment %}
{% endblock content %}


{% block JS%}

{{ block.super }}
<script type="text/javascript" src="/static/dashbord/js/jquery.plugin.min.js"></script> 
<script type="text/javascript" src="/static/dashbord/js/jquery.countdown.min.js"></script>
<script type="text/javascript" src="/static/dashbord/app.js"></script> 
<script src="https://liveapi.binary.com/27.0.0/binary-live-api.js"></script>

<script type="text/javascript">

startCountdown({{active_singal.get_expire_time}})


jQuery(document).ready(function($) {
    var ws4redis = WS4Redis({
        uri: '{{ WEBSOCKET_URI }}active_signal?subscribe-broadcast&publish-broadcast&echo',
        receive_message: receiveMessage,
        heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
    });

    function receiveMessage(msg) {
        $("#signals-acount").html(msg)
        var timer_value = $("#timer").data('val')
        startCountdown(timer_value)
        console.log('Message from Websocket: ' + msg);
    }
});

</script>

{% if user.profile.get_account_balance %}
{% endif %}

<script type="text/javascript">
    var LiveApi = window['binary-live-api'].LiveApi;
    console.log(window['binary-live-api']);
    var api = new LiveApi();
    const token = '{{user.profile.token2}}';
    api.authorize(token).then(response =>{
        /*need to write ajax call here for update balance at every day.*/
    });

$(document).on("click", "#trade-now",function(){
    bid_amount = $("#bid_amount").text()
    contract_type = $("#direction").data('val')
    get_Proposal(bid_amount,contract_type)
})



function get_Proposal(bid_amount,contract_type){
    //api.unsubscribeFromAllProposalsOpenContract()
    var responce  = api.getPriceProposalForContract({
          "proposal": 1,
          "amount": 2,
          "basis": "payout",
          "contract_type": contract_type,
          "currency": "USD",
          "duration": "120",
          "duration_unit": "s",
          "symbol": "frxEURUSD"
        }).then(response =>{
         buyContract(response.proposal.id,response.proposal.payout)
     });
}

function buyContract(ID,amount){
    
    api.buyContract(ID,amount).then(response =>{
            console.log(response)
    });
}




</script>

{% endblock %}