{% extends "layout.html" %}
{% load widget_tweaks %}

{% block page_title %} LIVE SIGNALS {% endblock page_title %}

{% block content %}
    <div id="signals-acount">
    {% include 'dashbord/includes/get_binary_token.html'%}
    </div>
{% endblock content %}


{% block JS%}

{{ block.super }}

<script src="https://liveapi.binary.com/27.0.0/binary-live-api.js"></script>

<script type="text/javascript">



$(document).on("click",'#authorize-binary', function(e){
    console.log(window['binary-live-api']);
    const { oauthUrl, parseOAuthResponse } = window['binary-live-api'].OAuth;
    const url = oauthUrl('2569');
    window.location = url;

})

</script>





{% endblock %}