{% extends "layout.html" %}
{% load widget_tweaks %}

{% block page_title %}COMPLTE YOUR PROFILE TO GET VERIFIED SIGNALS{% endblock page_title %}

{% block content %}
        <div class="row">
            <div class="col-md-8">
                <section class="widget">
                    <header>
                        <h4><i class="fa fa-user"></i> Account Profile <small>Create new or edit existing user</small></h4>
                    </header>
                    <div class="body">
                        <form id="profile-form" class="form-horizontal form-label-left"
                              novalidate="novalidate"
                              method="post" action="."
                              enctype="multipart/form-data"
                              >

                              {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="text-align-center">
                                        <img class="img-circle" src="/static/dashbord/img/1.png" alt="64x64" style="height: 112px;">
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h3 class="mt-sm mb-xs">{{user}}</h3>
                                    <address>
                                        <abbr title="Work email">e-mail:</abbr> <a href="mailto:{{user.email}}">{{user.email}}</a><br>
                                        
                                    </address>
                                </div>
                            </div>
                            <fieldset class="mt-sm">
                                <legend>Account Edit Form <small>complte your profile for check active signals</small></legend>
                            </fieldset>
                            <fieldset>
                                <legend class="section">Personal Info</legend>

                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="first-name">First Name <span class="required">*</span></label>
                                    <div class="col-sm-8">

                                    {{user_form.first_name|add_class:"form-control input-transparent"|attr:"required:required"}}

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="last-name">Last Name <span class="required">*</span></label>
                                    <div class="col-sm-8">
                                    {{user_form.last_name|add_class:"form-control input-transparent"|attr:"required:required"}}

                                  </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="profile pic ">Profile Pic <span class="required">*</span></label>
                                    <div class="col-sm-8">
                                      {{profile.avatar|add_class:"form-control input-transparent"}}
                                    </div>
                                </div>

                            </fieldset>

                            <fieldset>
                                <legend class="section">Contact Info</legend>
                                <div class="form-group">
                                    <label id="email-label" for="email" class="control-label col-sm-4">Alternet Email</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="input-group">
                                          {{profile.alternet_email|add_class:"form-control input-transparent"}}

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone" class="control-label col-sm-4">Phone <span class="required">*</span></label>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="input-group">
                                          {{profile.phone|add_class:"form-control input-transparent mask"|attr:"required:required"}}

                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend class="section">
                                    Binary.Com Account verification !! <a target="_blank" href="{% url 'accounts-need-help'%}">Need Help?</a>
                                </legend>

                                <div class="form-group">
                                    <label for="balance" class="control-label col-sm-10">By pressing save button you will redirected to binary.com for account verification.<span class="required">*</span></label>
                                    
                                </div>
                            </fieldset>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-4">
                                        <button type="submit" class="btn btn-primary">Save &amp; Redirect me</button>
                                        <button type="button" class="btn btn-default">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        {% comment %}
                        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="BKZ78R8ZZZFRC">
                        <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                        {% endcomment %}


                    </div>
                </section>
            </div>

            <div class="col-md-4">
                <section class="widget">
                    <header>
                        <h5>
                            Our Partner Broker
                        </h5>
                    </header>
                    <div class="body col-sm-offset-1">
                        <script type="text/javascript" src="http://js.binary.com/javascript.php?prefix=O_MddlulNO66tyDIijdDK2Nd7ZgqdRLk&amp;media=809&amp;campaign=1&amp;payload=OptionExperts"></script>
                    </div>
                </section>
            </div>

        </div>

{% endblock content %}
